<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
    <app-siderbar></app-siderbar>
    <main class="page-content">
        <app-nav-bar></app-nav-bar>
        <router-outlet></router-outlet>

        <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
    </main>
</div>