<nav id="sidebar" class="sidebar sidebar-bg">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header" (click)="toggleSidebar()">
        <a routerLink="/">Menú</a>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li *ngFor="let menu of menus"
            [ngClass]="{'active': menu.active , 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
            <a *ngIf="menu.type === 'link'" (click)='toggle(menu)' class="pointer" [routerLink]="menu.ruta">
            
              <span>{{menu.title}}</span>
              
            </a>
            <a *ngIf="menu.type === 'dropdown'" (click)='toggle(menu)' class="pointer"  >
            
              <span>{{menu.title}}</span>
              
            </a>
             <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus">

                  <a [routerLink]="submenu.ruta" (click)="toggleSidebar()">{{submenu.title}}</a>
                </li>

              </ul>
            </div> 
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>

</nav>